*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #000;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
}
#nav{
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.links{
    display: flex;
}
.links>a{
    text-decoration: none;
    color: #000;
    padding: 0 2vw;
    margin-top: .5vw;
    text-transform: uppercase;
    font-family: poppins;
    font-size: .9vw;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#icons>i{
    padding: 0 2vw;
    cursor: pointer;
}
#page1{
    width: 100%;
    min-height: 100vh;
    padding: 0 2vw;
    padding-top: 18vh;
}
#page1>h1{
    font-size: 15vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -6px;
}
#video-container{
    width: 100%;
    height: 100vh;
    position: relative;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#play{
    position: fixed;
    background-color: #000;
    padding: 2.5vw 1.5vw;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: futura;
    opacity: 0;
    scale: 0;
}
#page2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
}
.elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
}
#page2 .elem .dets{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    z-index: 999;
}
#page3{
    width: 100%;
    padding: 0 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.text-content>h1{
    font-family: futura;
    text-transform: uppercase;
    font-size: 3.5vw;
    line-height: 3.5vw;
    letter-spacing: -3px;
}
.text-content .para{
    width: 30%;
    margin-right: 4vw;
}
.para>p{
    font-family: poppins;
    padding: 1vw 3vw;
}
.child{
    height: 80vh;
    width: 40vw;
    margin: 3vw;
}
.child>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.child>h1{
    font-family: poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1vw;
}
.child>span{
    display: block;
    padding: .2vw 0;
    text-align: center;
}
#child3 , #child4{
    margin-top: 15vw;
}

#page4{
    width: 100%;
    min-height: 100vh;
}
.heading{
    padding: 5vw 0;
}
.heading>h1{
    text-align: center;
    font-family: futura;
    font-size: 4vw;
    line-height: 5vw;
    letter-spacing: -3px;
}
.btnwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnwrapper>button{
    width: 25vw;
    height: 8vh;
    margin: auto;
    border-radius: 25px;
    font-family: poppins;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
/* Mouse Follower Over a main  */
#cursor{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}
/* Responsive  */
@media (max-width:600px){

    #page1{
        width: 100%;
        min-height: 70vh;
        padding: 0 5vw;
        padding-top: 15vh;
    }

    #page1>h1{
        font-size: 15vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }

    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }

    #play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000;
        padding: 9vw 6vw;
        border-radius: 50%;
        color: #fff;
        font-size: 3vw;
        opacity: 1;
        scale: 1;
    }
    #page2{
        display: block;
        width: 100%;
    }
    .elem{
        width: 100%;
        overflow: hidden;
        padding-top: 1vw;
    }
    .links>a{
        display: none;
    }
    .logo>svg{
        width: 15vw;
    }

    #page3{
        width: 100%;
        padding: 0 3vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .text-content{
        display: none;
    }
    .child{
        height: 80vh;
        width: 88vw;
        padding: 10vw;
    }
    .child>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .child>h1{
        font-family: poppins;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        font-size: 5vw;
    }
    .child>span{
        display: block;
        padding: .2vw 0;
        text-align: center;
    }
    #page4{
        width: 100%;
        min-height: 100vh;
    }
    .heading{
        padding: 9vw 5vw;
    }
    .heading>h1{
        text-align: center;
        font-family: futura;
        font-size: 5vw;
        line-height: 8vw;
        letter-spacing: 0;
    }
    .btnwrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnwrapper>button{
        width: 65vw;
        height: 8vh;
        margin: auto;
        border-radius: 25px;
        font-family: poppins;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    
}